<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipes delivered fast, ad-free, open-source.</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    {% load static %}
    <link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div class="main-menu">
            <a href="#">Home</a>
            <a href="#">Browse</a>
        </div>
        <div class="auth">
            <a href="#"><i class="gg-lock-unlock"></i> Create account</a>
            <a href="#"><i class="gg-lock-unlock"></i> Login</a>
        </div>
    </nav>
</header>
<main>
    <div class="process">
        <div class="card"></div>
    </div>
    <div class="recipes">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
</main>
<footer>
    <a href="https://github.com/buwilliams/recifree">Open-source</a>, MIT License, 2021
</footer>

 </body>
 </html>