{% extends 'recipes/base.html' %}

{% block main %}
    <section class="columns is-centered">
        <div class="column homepage-hero" style="">
            <div class="shadow">
                <img src="{% static 'images/logo-white-400.png' %}"><br>
                <span class="is-medium is-text-color-white">
                    Recipes delivered fast, ad-free, and open-source.
                </span>
            </div>
        </div>
    </section>
    <section class="columns">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <div class="content is-medium">
                        <div class="columns">
                            <div class="column is-narrow">
                                <span class="number">1</span>
                            </div>
                            <div class="column">
                                Start by creating your profile. This is where all your recipes will be saved.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <div class="content is-medium">
                        <div class="columns">
                            <div class="column is-narrow">
                                <span class="number">2</span>
                            </div>
                            <div class="column">
                                Add your favorite recipes to your profile.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <div class="content is-medium">
                        <div class="columns">
                            <div class="column is-narrow">
                                <span class="number">3</span>
                            </div>
                            <div class="column">
                                Share your recipes with friends, ad-free.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h1>Recent additions</h1>
        <ul>
            {% for recipe in all_recipes %}
                <li>
                    <a href="/recipes/{{ recipe.id }}">{{ recipe.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}