body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

a {
    text-decoration: none;
    margin: 0 0.25rem;
}

nav {
    display: flex;
    background-color: #f0fff0;
    padding: 0.5rem;
}

.auth {
    margin-left: auto;
}