body {
    background-color: #f0fff0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #65f36a;
    color: #333;
    padding: 0.5rem 1rem;
}

input.search {
    background-color: #65f36a;
    border: solid 1px #42b345;
    outline: none;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

input.search::placeholder {
    color: #42b345;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-left: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    min-height: 10rem;
}
